body {
  background-image: url('../images/san-francisco-background.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}
.force-inline p {
  display: inline;
  color: #222;
}
.container-small {
  max-width: 58rem;
  margin-left: auto;
  margin-right: auto;
}
.max-height-100 {
  max-height: 100%;
}
.fade {
  opacity: 0.50;
}
.section-indent {
  border-left: 2px solid #eee;
}
.bg-cloudy {
  background: #fafafa;
}
.force-inline * {
  display: inline;
}
section:target h3 {
  font-weight: 700;
}
h1:hover .anchorjs-link, h2:hover .anchorjs-link, h3:hover .anchorjs-link, h4:hover .anchorjs-link {
  opacity: 1;
}
.collapsible .collapser {
  display: none;
}
.collapsible:target .collapser {
  display: block;
}
.fix-3 {
  width: 25%;
  max-width: 244px;
}
@media (min-width:52em) {
  .fix-margin-3 {
    margin-left: 25%;
  }
}

/* import */

/*
========================================
Custom styles
========================================
*/
body {
  color: #888;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.logo {
  color: #FFF;
}

/*
========================================
Typography
========================================
*/
h1, h2, h3, h4 {
  color: #648880;
}
h1, h3, h4, h5 {
  margin-bottom: 15px;
}
h1 {
  font-size: 44px;
  line-height: 54px;
}
h2 {
  font-size: 24px;
  line-height: 44px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 18px;
}
h5 {
  color: #a9b2b9;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
strong {
  font-weight: 400;
}
cite, em {
  font-style: italic;
}

/*
========================================
Links
========================================
*/
a {
  color: #648880;
  text-decoration: none;
  font-weight: 500;
}
a:hover {
  color: #a9b2b9;
  text-decoration: none;
}
p a {
  border-bottom: 1px solid #dfe2e5;
}

/*
========================================
Buttons
========================================
*/
.btn {
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  letter-spacing: .5px;
  margin: 0;
  text-transform: uppercase;
}
.btn {
  border: 0;
  background: #648880;
  padding: 11px 30px;
  font-size: 14px;
}
.btn:hover {
  background: #77a198;
}
.btn-alt {
  border: 1px solid #fff;
  padding: 10px 30px;
}
.btn-alt:hover {
  background: #fff;
  color: #648880;
}

.load {
  width: 200px;
  margin-left: 125px;
  box-shadow: 0px 0px 5px #888888;
  z-index: 1;
}
.submit {
  width: 190px;
}

/*
========================================
Primary header
========================================
*/
.logo {
  padding-left: 15px;
  position: relative;
  top: -35px;
  float: left;
  font-size: 60px;
  font-weight: 100;
  letter-spacing: .5px;
  line-height: 44px;
  text-transform: uppercase;
}
.hidden {
  display: none;
}
.users {
  margin-right: 30px;
  margin-bottom: 30px;
}

.user {
  padding: 5px;
}
.users-header {
  background-color: #293f50;
  width: 100%;
}
.tweets {
}
.left-col {
  border: thin solid lightgray;
  margin-top: 6px;
  padding: 5px 5px;
  border-radius: 5px;
  background-color: #FFF;
  opacity: .95;
  width: 195px;
}
.tweet {
  border: thin solid lightgray;
  margin-top: 10px;
  padding: 5px 5px;
  border-radius: 5px;
  background-color: #FFF;
  opacity: .95;
}

textarea {
  border: thin solid lightgray;
  border-radius: 5px;
  font-size: 14px;
  color: #888;
}

.time {
  text-align: right;
  font-size: 12px;
  margin-bottom:5px;
}

#tweet-input {
  width: 190px;
}

.logo-img {
  height: 60px;
  margin-bottom: -6px;
  margin-right: 10px;
}

.ui-tooltip {
  font-size: 12px !important;
  font-family: "Lato", "Open Sans", "Helvetica Neue" !important;
  color: #888 !important;
}

.fixed {
  position: fixed;
}
